<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dalaoshi.mapper.StudentMapper">

    <select id="queryAll" resultType="org.dalaoshi.pojo.Student">
        SELECT id,name,gender,age,class AS classname FROM students;
    </select>

    <select id="queryById" resultType="org.dalaoshi.pojo.Student">
        SELECT id,name,gender,age,class AS classname FROM students WHERE id = #{id};
    </select>
</mapper>
